/** @import must precede all other statements */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 12%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 12%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 12%;

    --primary: 257 34% 48%;
    --primary-foreground: 0 0% 100%;

    --secondary: 257 68% 92%;
    --secondary-foreground: 0 0% 12%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 46%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 12%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 257 34% 48%;

    --radius: 0.5rem;

    /* Protein3D custom colors */
    --primary-container: 257 100% 93%;
    --secondary-container: 257 68% 92%;
    --on-secondary-container: 257 13% 31%;
    --text-secondary: 0 0% 46%;
    --border-neutral: 0 0% 85%;
    --border-neutral-secondary: 0 0% 46%;
    --background-neutral: 0 0% 89%;
    --background-brand-tertiary: 0 0% 96%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
    font-family:
      "Inter",
      -apple-system,
      "Roboto",
      "Helvetica",
      sans-serif;
  }

  :where(p, span, li, h1, h2, h3, h4, h5, h6, a, button, label, td, th) {
    overflow-wrap: anywhere;
    word-break: break-word;
  }

  pre,
  code {
    overflow-x: auto;
    white-space: pre;
  }
}
